doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Whack A Mole!
		link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css')
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		h1 Whack-a-mole!
			span.score 0
		button(onClick="startGame()") Start!

		.game
			.hole.hole1
				.mole
			.hole.hole2
				.mole
			.hole.hole3
				.mole
			.hole.hole4
				.mole
			.hole.hole5
				.mole
			.hole.hole6
				.mole
		script(type="text/javascript" src="main.js")