doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Type Ahead
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		form.search-form
			input.search(type="text" placeholder="City or State")
			ul.suggestions
				li Filter for a city
				li or a state
		script(type="text/javascript" src="main.js")