doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Click and Drag
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		.items
			.item.item1 01
			.item.item2 02
			.item.item3 03
			.item.item4 04
			.item.item5 05
			.item.item6 06
			.item.item7 07
			.item.item8 08
			.item.item9 09
			.item.item10 10
			.item.item11 11
			.item.item12 12
			.item.item13 13
			.item.item14 14
			.item.item15 15
			.item.item16 16
			.item.item17 17
			.item.item18 18
			.item.item19 19
			.item.item20 20
			.item.item21 21
			.item.item22 22
			.item.item23 23
			.item.item24 24
			.item.item25 25
		script(type="text/javascript" src="main.js")