doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Sort Bands
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		ul#bands
		script(type="text/javascript" src="main.js")