doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Hold Shift to Check Multiple Checkboxes
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		.inbox
			.item
				input(type="checkbox")
				p This is an inbox layout.
			.item
				input(type="checkbox")
				p Check one item
			.item
				input(type="checkbox")
				p Hold down your Shift key
			.item
				input(type="checkbox")
				p Check a lower item
			.item
				input(type="checkbox")
				p Everything inbetween should also be set to checked
			.item
				input(type="checkbox")
				p Try do it with out any libraries
			.item
				input(type="checkbox")
				p Just regular JavaScript
			.item
				input(type="checkbox")
				p Good Luck!
			.item
				input(type="checkbox")
				p Don't forget to tweet your result!
		script(type="text/javascript" src="main.js")