doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Follow Along Nav
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		.voiceinator
			h1 The Voiceinator 5000
			select(name="voice" id="voices")
				option(value="") Select A Voice

			label(for="rate") Rate:
			input(name="rate" type="range" min="0" max="3" value="1" step="0.1")
			
			label(for="pitch") Pitch:
			input(name="pitch" type="range" min="0" max="2" step="0.1")

			textarea(name="text") Hello! I love JavaScript
			button(id="stop") Stop!
			button(id="speak") Speak
		script(type="text/javascript" src="main.js")