doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Flex Panels
		link(type="text/css" rel="stylesheet" href="styles.css")
		link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC")
	body
		.panels
			.panel.panel1
				p Hey
				p Let's
				p Dance
			.panel.panel2
				p Give
				p Take
				p Receive
			.panel.panel3
				p Experience
				p It
				p Today
			.panel.panel4
				p Give
				p All
				p You can
			.panel.panel5
				p Life
				p In
				p Motion
		script(type="text/javascript" src="main.js")