doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Understanding JavaScript's Capture
		link(type="text/css" rel="stylesheet" href="styles.css")
	body.bod
		.one
			.two
				.three
		script(type="text/javascript" src="main.js")