doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title CSS Clock
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		.clock
			.clock-face
				.hand.hour-hand
				.hand.min-hand
				.hand.second-hand
		script(type="text/javascript" src="main.js")
