doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Mouse Shadow
		link(type="text/css" rel="stylesheet" href="styles.css")
	body
		.hero
			h1(contenteditable) WOAH!
		script(type="text/javascript" src="main.js")